.section-bg {
    background: linear-gradient(
180deg
, #f2f6f9 0%, #fff 100%);
}
section {
    padding: 60px 0;
}

.section-title {
    padding-bottom: 30px;
}

.section-title .head {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    color: #345676;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}


.resume .resume-title {
    font-size: 26px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4b7dab;
    font-family: "Poppins", sans-serif;
}


.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #d43076;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    color: #345676;
}

.section-title p {
    margin-bottom: 0;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #d43076;
    bottom: 0;
    left: 0;
}

