{% extends 'index.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
{% load static %}
<!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url({% static 'images/back.jpg' %})">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">I am Yash Rajput</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="AI Developer, Web Developer, Game Developer, Android developer"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{% static 'images/my-image.jpg' %}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Yash Rajput</span></p>
                        <p><span class="title-s">Profile: </span> <span>Python developer</span></p>
                        <p><span class="title-s">Email: </span> <span>yasharajput0508@gmail.com</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span>Python</span> <span class="pull-right">95%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>HTML</span> <span class="pull-right">85%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>CSS3</span> <span class="pull-right">75%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>C++</span> <span class="pull-right">70%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Java</span> <span class="pull-right">75%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Profile
                      </h5>
                    </div>
                    <p class="lead">
                        My self yash rajput. I live in bareilly. I am persuing btech(cs) from RBCET(Rakshpal Bahadur college of engineering and technology).
                    </p>
                    <p class="lead">
                        My aim is to be a data scientist. I have learned many programming languages just like python , java , c++ etc.
                        I also created many projects such as Face detection, object detection and many machine learning project and i also created games, website and many more
                    </p>    
                    <p class="lead">
                        My hobbies is to playing video games, watching movies etc.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">AI Developer</h2>
                <p class="s-description text-center">
                    I have an experience working with machine leaning and deep learning projects with python.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Development</h2>
                <p class="s-description text-center">
                    I I can create a beautiful website with html, css, javascript with django and angular frame work.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Game development</h2>
                <p class="s-description text-center">
                    I can develop the game using Unity engine with C++,C# programming language.
                    I can create 2d and 3d games with unity.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Python developer</h2>
                <p class="s-description text-center">
                    I have an experience working with python on web development ,ai development and gui development etc.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Java Developer</h2>
                <p class="s-description text-center">
                    I can create android application using java on android studio and make attractive application on it.  
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-trophy-fill"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">C++ Developer</h2>
                <p class="s-description text-center">
                    I work with c++ programming in problem solving and game development with unreal engine and create 3d games.  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock body %}